.colorgraph {
  height: 3px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(
	  left, 
	  #c4e17f, #c4e17f 12.5%, 
	  #FFFF00 12.5%, #FFFF00 25%, 
	  #fecf71 25%, #fecf71 37.5%, 
	  #f0776c 37.5%, #f0776c 50%, 
	  #db9dbe 50%, #db9dbe 62.5%, 
	  #c49cde 62.5%, #c49cde 75%, 
	  #669ae1 75%, #669ae1 87.5%, 
	  #62c2e4 87.5%, #62c2e4
 );
 
  background-image: -moz-linear-gradient(
	  left, 
	  #c4e17f, #c4e17f 12.5%, 
	  #FFFF00 12.5%, #FFFF00 25%, 
	  #fecf71 25%, #fecf71 37.5%, 
	  #f0776c 37.5%, #f0776c 50%, 
	  #db9dbe 50%, #db9dbe 62.5%, 
	  #c49cde 62.5%, #c49cde 75%, 
	  #669ae1 75%, #669ae1 87.5%, 
	  #62c2e4 87.5%, #62c2e4
  );
  
  background-image: -o-linear-gradient(
	  left, 
	  #c4e17f, #c4e17f 12.5%, 
	  #FFFF00 12.5%, #FFFF00 25%, 
	  #fecf71 25%, #fecf71 37.5%, 
	  #f0776c 37.5%, #f0776c 50%, 
	  #db9dbe 50%, #db9dbe 62.5%, 
	  #c49cde 62.5%, #c49cde 75%, 
	  #669ae1 75%, #669ae1 87.5%, 
	  #62c2e4 87.5%, #62c2e4
  );
  
  background-image: linear-gradient(
	  to right, #c4e17f, #c4e17f 12.5%, 
	  #FFFF00 12.5%, #FFFF00 25%, 
	  #fecf71 25%, #fecf71 37.5%, 
	  #f0776c 37.5%, #f0776c 50%, 
	  #db9dbe 50%, #db9dbe 62.5%, 
	  #c49cde 62.5%, #c49cde 75%, 
	  #669ae1 75%, #669ae1 87.5%, 
	  #62c2e4 87.5%, #62c2e4
  );
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.nav-tabs {
	margin-bottom: 0;
}
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
       text-align: right;
		margin-top: 10px;
 	}		
}

.register-form input {
	font-size: 14px;
}

.password-message { display:none; }

.password-message.password-check-error p {
	color: #B22424;
}

.password-message.password-check-match p {
	color: #006B24;
}

.error-message p {
	color: #B22424;
}

form .with-errors * {
	color: #B22424;
}

.pic
{
     margin-top:50px; 
     width:120px;
     margin-left:50px;
     margin-bottom:-60px;
}

.panel
{
    background-image:url("http://autoimagesize.com/wp-content/uploads/2014/01/rainbow-aurora-background-wallpaper-colour-images-rainbow-background.jpg"); 
}

.name
{
    position:absolute;
    padding-left:200px;
    font-size:30px;
}

.dropdown
{
    position:absolute;
}

.change
{
 position:relative; 
 bottom:20px;
 padding:1px;
 color:white;
 text-decoration:none;
}


.change:hover
{
 text-decoration:none;
 background-color:black;
 color:white;
}